
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Light orange background reminiscent of sand */
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pig-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.title, .date {
    text-align: center;
    color: #1565c0; /* Deep blue for titles */
}

.description {
    text-align: justify;
    line-height: 1.6;
    color: #333; /* Dark text color */
}

.contact-info h2, .location h2 {
    color: #1565c0; /* Deep blue for headers */
    font-size: 1.5em;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* CSS for larger screens (tablets and laptops) */
@media only screen and (min-width: 600px) {
    .container {
        max-width: 90%;
        margin: 20px auto;
    }
}

/* CSS for footer */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative; /* Ensure proper positioning for the logo */
}

.footer-logo {
    width: 150px; /* Adjust width as needed */
    height: auto;
    position: absolute;
    bottom: 40px; /* Adjust vertical position as needed */
    right: 25px; /* Adjust horizontal position as needed */
}

.footer .copyright {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}